@import url('https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Playwrite+RO:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&family=Monoton&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#text
{
    font-size: 130px;
    display: flex;
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    padding-top: 50px;
    height: 10vh;
}

html

{
    scroll-behavior: smooth;
}

body
{
    
    transition: 0.5s;
    scroll-behavior: smooth;
    background-color: rgb(241, 200, 148);
}

.to-top
{
    position: fixed;
    cursor: pointer;
    bottom: 16px;
    font-size: 45px;
    color: whitesmoke;
    right: 32px;
    z-index: 1;
}

/* #header
{
    font-family: "Playwrite RO", cursive;
    font-optical-sizing: auto;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 90px;
} */





.container .list
{
    height: 90vh;
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.artists
{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: black;
    z-index: -1;
}


.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire container */
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: brightness(0.5); /* Apply the filter to the video */
}

.content {
    position: relative;
    z-index: 1;
    height: 100%;
}

header h1
{
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-family: "Libre Barcode 39 Extended Text", system-ui;
    font-weight: 550;
    font-style: normal;
}







.list
{
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

img
{
    
    border: 4px solid white;
}


.list .item{

    transition: .5s;
    filter: brightness(0.3);
}

.list .item:hover{
    cursor: pointer;
    filter: brightness(1);
    transform: translateZ(200px);
}

.list .item:hover + *{
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(20deg);
}


.list .item:hover + * + *{
    filter: brightness(0.4);
    transform: translateZ(40px) rotateY(15deg);
}

.list .item:hover + * + * + *{
    filter: brightness(0.2);
    transform: translateZ(20px) rotateY(10deg);
}


.list .item:has(+ *:hover)
{
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(-20deg);
}

.list .item:has(+ * + *:hover)
{
    filter: brightness(0.4);
    transform: translateZ(40px) rotateY(-15deg);
}

.list .item:has(+ * + * + *:hover)
{
    filter: brightness(0.2);
    transform: translateZ(20px) rotateY(-10deg);
}